$color-dark: #333333;
$color-orange: #FE7C22;
$color-light-grey: #F4F4F4;
$color-navy-blue: #05445E;
$color-blue-green: #75E6DA;
$color-blue-grotto: #189AB4;
$color-baby-blue: #D4F1F4;

$template-color: $color-navy-blue;
$container-color: $color-blue-grotto;
$editable-color: $color-blue-green;
$editable-hover-color: $color-baby-blue;


$font-family-base: 'Rubik', sans-serif;
$font-size-base: 18px;
$line-height-base-size: 20px;

$page-content-width: 1360px;